.dataResult::-webkit-scrollbar {
    display: none;
}
.dataResult {
    display: flex;
    color: black;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px ;
    overflow: hidden;
    overflow-y: auto;
}